.service-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 8px;  
}

.service {
    text-align: center;
    border-radius: 20px;
    border:1px solid green;
    background-color: #b3b3f5;
    
}
.service-image img {
  width: 100%;
  height: 250px;
  border-radius: 20px;
}
.service-detail{
    background-color: var(--color-bg-variant);
    border-radius: 0 0 20px 20px;
}

.service h3 {
    color: black;
    height: 2rem;
}


.service button:hover {
    background-color: red;
}

@media screen and (max-width:1024px) {
    .service-container {
        grid-template-columns: 1fr 1fr;
        gap: 1.1rem;
    }
    .service-container .service {
        margin: 1rem auto;
    }
}

@media screen and (max-width:600px) {
    .service-container {
        grid-template-columns: 1fr;
        row-gap: .6rem;
    }
}